html, body {
  height: 100%;
}

body {
  padding-top: 50px; /* space for the top nav bar */
}

#dataManagementHubs {
  width: 250px;
  overflow: auto;
  height: calc(100vh - 50px);
  position: absolute;
}

#forgeViewer {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 250px;
  background-color: #F0F0F0;
}

.toolbarExportExcel {
  background-image: url(/Images/excel-xls-icon.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
