html, body{
  min-height: 100%;
  height: 100%;
}

.fill{
  height: calc(100vh - 100px);
}

body {
  padding-top: 60px; /* space for the top nav bar */
  margin-right: 30px;
}

#userHubs {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 150px);
}

#forgeViewer {
  width: 100%;
}

.toolbarC3DDesignCheck {
  background-image: url(/img/design_check.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.alignItem{
  cursor: pointer;
  background: none;   
}

#googlemap {
  width: 100%;
  height: calc(100% - 70px);
}